<div class="container">
  <div class="reservation-box">
    <h2><%= @boat.name %> booking</h2>
    <div class="reservation-form">
      <%= simple_form_for [@boat, @reservation] do |f| %>
        <%= f.input :begin_date %>
        <%= f.input :end_date %>
         <div class="reservation-info">
          <div class="nb-of-days"></div>
          <div class="price-per-days"><strong>Price : <%= @boat.price %> € / day</strong></div>
          <div class="total-price"></div>
        </div>
        <br>
        <%= f.submit "Book the #{@boat.name}", class: "btn btn-primary rounded-3"%>
      <% end %>
    </div>
  </div>
</div>
