<div class="container">
    <h1>All Boats</h1>
    <div class="container-cards">
        <% @boats.each do |boat| %>
            <%= link_to boat_path(boat) do  %>
                <div class="card-boat">
                    <div class="card-boat-image">
                      <% if boat.photos.first %>
                        <%= cl_image_tag boat.photos.first.key, height: 200, width: 300, crop: :thumb %>
                      <% else %>
                        <img height="200" width="300" src = <%= asset_path( 'boat.png' ) %>/>
                      <% end %>

                    </div>
                    <div class= "card-boat-info">
                        <div class= "card-boat-main-info">
                            <h2> <%= boat.name  %></h2>
                            <p><%= boat.category %></p>
                            <p><%= "Location: #{boat.localisation}" %></p>
                        </div>
                        <p><strong><%= "#{boat.price} € / day" %></strong></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>


