
<div class='form-container'>
  <h1>Add a new boat to rent</h1>
  <div class='form'>
    <%= simple_form_for(@boat) do |f| %>
      <div class = "line-3">
        <%= f.input :name, :placeholder => 'Wagon Boat' %>
        <%= f.input :description, :placeholder => 'Nice boat, perfect for a family!' %>
      </div>
      <div class = "line-4">
        <%= f.input :price, :placeholder => '10' %>
        <%= f.input :localisation, :placeholder => 'Paris' %>
        <%= f.input :category, :collection => %w[Voilier Moteur], prompt:'Select your category' %>
        <%= f.input :capacity, :placeholder => '2' %>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'btn-file' } %>
      <%= f.submit 'ADD BOAT', :class => 'btn-blue' %>
    <% end %>
    </div>
</div>

