<div class="container">
  <% @boat.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 500, width: 500, crop: :fill %>
  <% end %>
  <h1 class="title"> <%= @boat.name%></h1>
  <div class= "boat-info">
    <p><%= @boat.category %></p>
    <p><%= "Location: #{@boat.localisation}" %></p>
    <p><strong><%= "#{@boat.price} € / day" %></strong></p>
  </div>
</div>
