<div class="boat-show">
  <div class="boat-photo">
    <%# <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  data-keyboard='true' data-wrap='true' >
      <div class="carousel-inner"> %>
          <%# <% @boat.photos.each do |photo| %>
            <%# <div class='carousel-item <%= 'active' if @boat.photos.first %>
            <%# <div class="test"> %>
          <% if @boat.photos.first %>
            <%= cl_image_tag @boat.photos.first.key, class: 'test' %>
          <% else %>
            <img src="<%= asset_path( 'boat.png' ) %>"/>
          <% end %>
          <%# </div> %>
          <%# </div> %>
          <%# <% end %>
      <%# </div> %>
      <%# </div> %>
  </div>
  <div class= "boat-info">
    <h1><%= @boat.name%></h1>
    <div class= "boat-ratings d-flex justify-content-between">
      <p><%= @boat.user.first_name%>'s boat</p>
      <p>
        <% @average_rating.times do %>
          <i class="fas fa-star" style= 'color : rgb(69, 114, 135)'></i>
        <% end %>
        <% (5 - @average_rating).times do %>
          <i class="fas fa-star" style= 'color : grey'></i>
        <% end %>
      </p>
    </div>
    <div class="boat-subinfo">
      <p class="with-border"><i class="fas fa-ship"></i><%= @boat.category %></p>
      <p class="with-border"><i class="fas fa-map-marker-alt"></i><%= " #{@boat.localisation}" %></p>
      <p><i class="fas fa-dollar-sign"></i><%= "#{@boat.price} € / day" %></p>
    </div>
    <div class="boat-description">
      <p><%= @boat.description%></p>
    </div>
    <div class="boat-form">
      <%= render "reservations/new_reservation" %>
    </div>
  </div>
  <!-- <div id="map"
     style="width: 950px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div> -->
</div>
