<div class="boat-show">
  <div class="boat-photo">
    <% if @boat.photos.first %>
      <%= cl_image_tag @boat.photos.first.key, class: 'test' %>
    <% else %>
      <img src="<%= asset_path( 'boat.png' ) %>"/>
    <% end %>
    <div id="map"
     style="width: 100%; height: 40vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class= "boat-info">
    <h1><%= @boat.name%></h1>
    <div class= "boat-ratings d-flex justify-content-left">
      <% if @boat.user.avatar.attached? %>
        <%= cl_image_tag @boat.user.avatar.key, class: "show-avatar"%>
      <% else %>
        <%= image_tag "boat.png", class: "show-avatar"%>
      <% end %>
      <p><%= @boat.user.first_name%>'s boat</p>
      <p>
        <% @average_rating.times do %>
          <i class="fas fa-star" style= 'color : rgb(69, 114, 135)'></i>
        <% end %>
        <% (5 - @average_rating).times do %>
          <i class="fas fa-star" style= 'color : darkgrey'></i>
        <% end %>
      </p>
    </div>
    <div class="boat-subinfo">
      <p class="with-border"><i class="fas fa-ship"></i><%= @boat.category %></p>
      <p class="with-border"><i class="fas fa-map-marker-alt"></i><%= @boat.localisation %></p>
      <p class="with-border"><i class="fas fa-user-alt"></i><%= @boat.capacity %></p>
      <p><i class="fas fa-dollar-sign"></i><%= "#{@boat.price} € / day" %></p>
    </div>
    <div class="boat-description">
      <p><%= @boat.description%></p>
    </div>
    <div class="boat-form">
      <%= render "reservations/new_reservation" %>
    </div>
    <div class="reviews">
      <% @boat.reviews.each do |review| %>
        <%= cl_image_tag review.user.avatar.key, class: "show-avatar"%>
        <%= review.user.first_name %>
        <% review.rating.times do %>
           <i class="fas fa-star"></i>
        <% end %>
          <% (5 - review.rating).times do %>
           <i class="far fa-star"></i>
        <% end %>
        <div class="review-content">
          <%= review.content %>
        </div>
      <% end %>
    </div>
  </div>
</div>


